package $packNm$;

import java.util.HashMap;
import java.util.Map;

import net.pmosoft.fframe.AbstractTest;
import net.pmosoft.fframe.FframeApplication;

import org.junit.Before;
import org.junit.Ignore;
import org.junit.Test;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.test.web.servlet.MockMvc;
import org.springframework.test.web.servlet.setup.MockMvcBuilders;
import org.springframework.web.context.WebApplicationContext;
import org.junit.runner.RunWith;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;

@RunWith(SpringJUnit4ClassRunner.class)
@SpringBootTest(classes = FframeApplication.class)
public class $PgmNm$Test {

	@Autowired
	private $PgmNm$Srv $pgmNm$Srv;

	@Autowired
	private $PgmNm$Dao $pgmNm$Dao;


    @Test
    public void test$PgmNm$Process() {
        Map<String, String> params = new HashMap<String, String>();
        params.put("PKG_FUL_NM", "user");
        $pgmNm$Dao.select$PgmNm$List(params);
        $pgmNm$Srv.select$PgmNm$List(params);
    }	
	
	@Test @Ignore
	public void test$PgmNm$Cnt() {
		Map<String, String> params = new HashMap<String, String>();
		//params.put("searchKeyCombo", ""); params.put("searchValue", "");
		params.put("PKG_FUL_NM", "user");
		$pgmNm$Dao.select$PgmNm$Cnt(params);
	}

	@Test @Ignore
	public void test$PgmNm$List() {
		Map<String, String> params = new HashMap<String, String>();
		//params.put("searchValue", "us");
		//params.put("searchValue", "유저");
		params.put("searchValue", "");
		$pgmNm$Srv.select$PgmNm$List(params);
		//$PgmNm$Dao.select$PgmNm$List(params);
	}

	@Test @Ignore
	public void testSave$PgmNm$() {

		Map<String, String> params = new HashMap<String, String>();
		params.put("PKG_FUL_NM", "package1");
		params.put("PKG2_NM"   , "pk");
		params.put("PKG3_NM"   , "pkg");
		params.put("PKG4_NM"   , "pack");
		params.put("PKG_HNM"   , "패키지");
		params.put("PKG_DESC"  , "패키지4");
		params.put("USE_YN"     , "Y");
		params.put("REG_USR_ID", "admin");
		params.put("UPD_USR_ID", "admin");

		//$PgmNm$Dao.deleteUser(params);

		Map<String, Object> result = $pgmNm$Srv.save$PgmNm$(params);

		System.out.println(result);
		test$PgmNm$List();
	}

	@Test @Ignore
	public void testDelete$PgmNm$() {
		Map<String, String> params = new HashMap<String, String>();
		params.put("PKG_FUL_NM", "package1");
		$pgmNm$Srv.delete$PgmNm$(params);
	}

	@Test @Ignore
	public void testInsert$PgmNm$() {

		Map<String, String> params = new HashMap<String, String>();
		//params.put("searchKeyCombo", ""); params.put("searchValue", "");
		params.put("PKG_FUL_NM", "package");
		params.put("PKG2_NM"   , "pk");
		params.put("PKG3_NM"   , "pkg");
		params.put("PKG4_NM"   , "pack");
		params.put("PKG_HNM"   , "패키지");
		params.put("PKG_DESC"  , "패키지");
		params.put("USE_YN"     , "Y");
		params.put("REG_USR_ID", "admin");
		params.put("UPD_USR_ID", "admin");

		$pgmNm$Dao.delete$PgmNm$(params);

		$pgmNm$Dao.insert$PgmNm$(params);

		test$PgmNm$List();
	}

	@Test @Ignore
	public void testUpdate$PgmNm$() {

		Map<String, String> params = new HashMap<String, String>();
		//params.put("searchKeyCombo", ""); params.put("searchValue", "");
		params.put("PKG_FUL_NM", "package");
		params.put("PKG2_NM"   , "pk");
		params.put("PKG3_NM"   , "pkg");
		params.put("PKG4_NM"   , "pack");
		params.put("PKG_HNM"   , "패키지");
		params.put("PKG_DESC"  , "패키지2");
		params.put("USE_YN"     , "Y");
		params.put("REG_USR_ID", "admin");
		params.put("UPD_USR_ID", "admin");

		$pgmNm$Dao.update$PgmNm$(params);

		test$PgmNm$List();
	}

}

