package $packNm$;

import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

@RestController
public class $PgmNm$Ctrl {

	@Autowired
	private $PgmNm$Srv $pgmNm$Srv;

	/**
	 * select $PgmNm$List
	 */
	@RequestMapping(value = "/$genPathNm$/select$PgmNm$List")
	public Map<String, Object> select$PgmNm$List(@RequestParam Map<String,String> params) {
		return $pgmNm$Srv.select$PgmNm$List(params);
	}

	/**
	 * save$PgmNm$
	 */
	@RequestMapping(value = "/$genPathNm$/save$PgmNm$")
	public Map<String, Object> save$PgmNm$(@RequestParam Map<String,String> params) {
		return $pgmNm$Srv.save$PgmNm$(params);
	}

	/**
	 * delete$PgmNm$
	 */
	@RequestMapping(value = "/$genPathNm$/delete$PgmNm$")
	public Map<String, Object> delete$PgmNm$(@RequestParam Map<String,String> params) {
		return $pgmNm$Srv.delete$PgmNm$(params);
	}

}
